* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #e7f8f8;
}

.centered {
  margin: 3rem auto;
  text-align: center;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  border: 1px solid teal;
  font: inherit;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn-delete {
  cursor: pointer;
  text-decoration: none;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  border: 1px solid teal;
  font: inherit;
}
